@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Movie App</h1>
    <p class="lead"> Create your favorite movie data base by ONE click!</p>
    <p><a href="~/Movies/PopulateDB" class="btn btn-primary btn-lg">Populate! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Populate Movies</h2>
        <p>You can populate movies based  on  your favorite title</p>
        <p><a class="btn btn-deault" href="~/Movies/PopulateDB">Learn more &raquo;</a></p>
    </div>
    
    <div class="col-md-6">
        <h2>Search Movies</h2>
        <p>You can easily find movie based on its title</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>