@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Movie App</h1>
    <p class="lead"> Create your favorite movie data base by ONE click!</p>
    <p><a href="~/Movies/PopulateDB" class="btn btn-primary btn-lg">Populate! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <div>
            <h2>Populate Movies</h2>
            <p>
                You can populate movies based  on your favorite title!
                Type you favorite movie title and choose protocol format then see how movie data base starts populating!
            </p>
        </div>


    </div>

    <div class="col-md-6">
        <div>
            <h2>Search Movies</h2>
            <p>You can easily find movie based on its title, year, or type! Try it now!</p>
        </div>


    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p>
            <a class="btn btn-default" href="~/Movies/PopulateDB">Populate &raquo;</a>
        </p>
    </div>
    <div class="col-md-6">
        <p><a class="btn btn-default" href="~/Movies/SearchMovies">Search &raquo;</a></p>
    </div>
</div>